.slugify-list {
	max-height: 300px;
	overflow-y: auto;
	font-family: var(--font-monospace);
	font-size: var(--font-smaller);
	margin-bottom: 1em;
}

.slugify-row {
	margin-bottom: 0.25em;
}

.slugify-new {
	color: var(--text-accent);
}

.slugify-collision-note {
	color: var(--text-error);
}

.slugify-row-collision {
	text-decoration: line-through;
	color: var(--text-muted);
}

.slugify-collision-label {
	color: var(--text-error);
	text-decoration: none;
}
